<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bush.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,180},{36,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,31},{36,39}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>cactus.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,142},{45,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,11},{45,59}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>coinBronze.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,213},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,18},{40,40}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>coinDiamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,213},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,18},{40,40}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>coinGold.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,202},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,18},{40,40}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>coinSilver.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,202},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,18},{40,40}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>dirt.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,71},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>flagBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,71},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>flagGreen.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,71},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>flagRed.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,142},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>flagYellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>frozenBush.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,114},{36,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,31},{36,39}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>grass.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,0},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>rock.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,213},{61,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,35},{61,35}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>sand.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,142},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>snow.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,0},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>starBronze.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,76},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,19},{38,37}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>starDiamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,38},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,19},{38,37}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>starGold.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,0},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,19},{38,37}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>starSilver.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,142},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,19},{38,37}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>